:root {
	--ff-primary: 'Roboto', sans-serif;

	--fs-small-100: 0.875rem;
	--fs-normal: 1rem;
	--fs-meidum-200: 1.5rem;
	--fs-medium-300: 2rem;
	--fs-medium-400: 2.25rem;

	--fs-bold-800: 3rem;
	--fs-bold-900: 3.75rem;

	--fw-normal-400: 400;
	--fw-bold-700: 700;
	--fw-bold-900: 900;

	--clr-neutral-100: #ffffff;

	--clr-primary-300: #4ee4da;
	--clr-primary-400: #00e0d0;
	--clr-primary-500: #03b7ab;

	--clr-accent-600: #1c2550;
}


/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	/* font-size: 14px; */
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	/* display: block; */
	vertical-align: top;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* a{
	display: block;
} */
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Roboto', sans-serif; */
/*--------------------*/
a {
	color: var(--clr-neutral-100);
}

a:hover,
a:focus {
	color: var(--clr-accent-600);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: var(--fs-meidum-200);

}


.wrapper {
	margin-inline: auto;
	width: min(90%, 40rem);
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	overflow: hidden;
	padding-top: 10rem;
	background: url("//unsplash.it/500/500") 0 0/cover no-repeat;
	max-width: 35ch;
	border-radius: 15px;
	transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
	transform: scale(1.05);
}

/* @media (hover) {
	.card__content {
		transform: translateY(75%);
		transition: transform 500ms ease 50ms;
	}

	.card__content>*:not(.card__title) {
		opacity: 0;
		transition: opacity 1000ms ease;
	}

	.card__title::after {
		transform: scaleX(0);
	}
} */

.card__content {
	--padding: 1rem;
	padding: var(--padding);
	color: var(--clr-neutral-100);
	background: linear-gradient(rgba(2, 0, 36, 0), rgba(2, 0, 36, 0.5) 20%, rgba(2, 0, 36, 1) 100%);

	transform: translateY(75%);
	transition: transform 500ms ease 50ms;
}

.card__content>*:not(.card__title) {
	opacity: 0;
	transition: opacity 1000ms ease;
}

.card:hover .card__content>*:not(.card__title) {
	opacity: 1;
	transition-delay: 1000ms;
}

.card:focus-within .card__content>*:not(.card__title) {
	opacity: 1;
	transition-delay: 0ms;
}

.card:hover .card__content {
	transition-delay: 500ms;
	transform: translateY(0);
}

.card:focus-within .card__content {
	transform: translateY(0);
	transition-delay: 0ms;
}

.card__title {
	font-size: 2rem;
	margin-bottom: 1rem;
	width: max-content;
	position: relative;
}

.card__title::after {
	left: calc(var(--padding) * -1);
	bottom: -2px;
	position: absolute;
	content: "";
	display: block;
	background-color: var(--clr-primary-300);
	height: 3px;
	width: calc(100% + var(--padding));
	transform: scaleX(0);

	transition: transform 500ms ease;
	transform-origin: left;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
	transform: scaleX(1);
}

.card__text {
	margin-bottom: 3rem;
}


.card__button {
	padding: 0.25em 1em;
	border-radius: 0.25em;
	background-color: #00e0d0;
	transition: background-color 500ms ease;
}

.card__button:hover,
.card__button:focus-within {
	transition-delay: 0ms;
	background-color: var(--clr-neutral-100);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		transition-delay: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
